
#complete {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer{
  background-image: image-url('employee/footer/line-white.png') !important;
}
