.modal-body {
  background: rgba(217, 217, 217, 0.5);
}

.modal-submit-text {
  span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  button, a {
    width: 157.19px;
    height: 58.67px;

    background: #00479D;
    border-radius: 12px;
  }
}
