<% request_referrer = Rails.application.routes.recognize_path(request.referrer) %>
<% action = params[:target] || request_referrer[:action] %>
<% content_for :title, t("medical.jobs.title.views.complete.#{params[:_action] || action}.title") %>

<% @complete_notice = proc do %>
  <%= t("medical.jobs.title.views.complete.#{params[:_action] || action }.notice") %>
<% end %>

<% @complete_send_mail = proc do %>
  <p><%== t("medical.jobs.title.views.complete.#{params[:_action] || action}.message") %></p>
<% end %>
