<div><%= @candidate.full_name %>　様</div>
<br>
<div>ダイバースをご利用いただき、誠にありがとうございます。</div>
<div>アカウント情報の更新が完了しました。</div>
<br>
<div>アカウント情報の確認はこちら：<%= link_to "アカウント管理画面", account_url %></div>
<br>
<%= render 'shared/mailer/footer' %>
