<div><%= @candidate_job.candidate.full_name %>　様</div>
<br>
<div>ダイバースをご利用いただき、誠にありがとうございます。</div>
<br>
<div>[契約ID]の契約内容を更新しました。</div>
<br>
<div>以下の画面より、契約内容をご確認ください。</div>
<div>契約内容はこちら：<%= link_to "労働条件通知書", working_medicals_url(job_id: @candidate_job.job_id, medical_institution_id: @candidate_job.job.medical_institution_id) %></div>
<br>
<%= render 'shared/mailer/footer' %>
