<div><%= @candidate_job.candidate.full_name %>　様</div>
<br>
<div>ダイバースをご利用いただき、誠にありがとうございます。</div>
<br>
<div>下記求人において、応募を受け付けました。</div>
<div><%= link_to "応募求人詳細(採用承認待ち)", jobs_applied_index_url %></div>
<br>
<div>求人担当者よりトーク機能にてご連絡いたしますので、今しばらくお待ちください。</div>
<div>トーク画面はこちら：<%= link_to "トーク画面", chat_url(@room_code) %></div>
<br>
<%= render 'shared/mailer/footer' %>
