<div>[お問合せで入力したお名前]　様</div>
<br>
<div>この度はダイバースへお問い合わせいただき誠にありがとうございます。</div>
<div>以下の内容のお問い合わせを受け付けました。</div>
<div>担当者より折り返しご連絡させていただきます。</div>
<br>
<div>尚、お問い合わせ内容によっては、ご返事までにお時間をいただく場合もございます。</div>
<div>あらかじめご了承ください。</div>
<br>
<div>--------------------------------------</div>
<div>■ご入力内容</div>
<div>--------------------------------------</div>
<div>お名前：[お問合せで入力したお名前]</div>
<div>メールアドレス：[お問合せで入力したメールアドレス]</div>
<div>件名：[お問合せで入力した件名]</div>
<div>お問合せ内容：[お問合せで入力したお問合せ内容]</div>
<br>
<%= render 'shared/mailer/footer' %>
