<div><%= @candidate_job.candidate.full_name %>　様</div>
<br>
<div>ダイバースをご利用いただき、誠にありがとうございます。</div>
<br>
<div>応募内容について慎重に審議いたしましたところ、誠に残念ではございますが、今回は採用を見送らせていただくこととなりました。</div>
<div>ご期待に応えられず恐縮ですが、ご了承くださいますようお願いいたします。</div>
<br>
<%= render 'shared/mailer/footer' %>
