<div><%= @candidate.full_name %>　様</div>
<br>
<div>ダイバースをご利用いただき、誠にありがとうございます。</div>
<div>ログインパスワードの変更が完了しました。</div>
<br>
<div>ログインはこちら：<%= link_to "ログイン画面", new_user_session_url %></div>
<br>
<br>
<%= render "shared/mailer/footer" %>