<% content_for :title, "ダイバース　求人機関利用規約" %>
<div class="container mt-5">
  <p>本利用規約（以下「本規約」といいます。）は、株式会社キャリアウィン（以下「弊社」といいます。）が提供する医療従事者のための短期求人/求職マッチングサービス「ダイバース」（以下「本サービス」といいます。）に関して、求人者として本サービスを利用しようとする求人機関の皆様と弊社との間の権利義務関係を定めています。本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。</p>

  <h5>第1条（適用）</h5>
  <ol>
    <li>本規約は、本サービスの提供条件及び本サービスの利用に関する求人機関と弊社との間の権利義務関係を定めることを目的とし、求人機関と弊社との間の本サービスの利用に関わる一切の関係に適用されます。</li>
    <li>弊社が本サービス上で掲載する本サービス利用に関するルール等も、本規約の一部を構成するものとします。 </li>
    <li>本規約の内容と、前項のルール等その他の本規約外における弊社による本サービスの説明等の内容とが異なる場合は、本規約の規定が優先して適用されるものとします。 </li>
  </ol>

  <h5>第2条（定義）</h5>
  <p>本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
  <ol>
    <li>「本サービス」とは、弊社が「ダイバース」という名称で提供する医療従事者のための短期求人/求職マッチングサービス及びこれと一体となって提供する各種サービスを意味します。</li>
    <li>「求人機関」とは、本サービスを通じて求職者と雇用契約を締結し、労務の提供を受けることを企図して、本サービスをお使いになる求人機関を意味します。</li>
    <li>「求職者」とは、本サービスを通じて求人機関と雇用契約を締結し、労務を提供することを企図する個人を意味します。</li>
  </ol>

  <h5>第3条（本サービスの内容等）</h5>
  <ol>
    <li>本サービスは、職業紹介を行うサービスです。求人機関は、本規約に基づいて、本サービスの利用に係る職業紹介業務を委託し、弊社はこれを受託するものとします。</li>
    <li>本サービスには、求人機関の情報機器を介し、当該者に関する情報を表示又は交換する機能が含まれますが、かかる機能は求人機関の情報の同一性を確保し、架空、仮装による情報掲載や投稿を防止する目的として提供するものであり、求人機関は、雇用契約の締結の手続き等を、自己の責任において行うものとします。</li>
    <li>求人機関は、本サービス又は本サイトを利用してなされた一切の行為に起因する結果について自ら責任を負うことをあらかじめ承諾します。</li>
  </ol>

  <h5>第4条（登録）</h5>
  <ol>
    <li>本サービスのうち弊社所定の機能（以下「所定機能」といいます。）の利用を希望する者（以下「登録希望者」といいます。）は、本規約を遵守することに同意し、かつ弊社の定める一定の情報（以下「登録事項」といいます。）を弊社の定める方法で弊社に提供し、弊社の定める手続に従って、弊社に対し、所定機能の利用を申請するものとします。なお、登録は必ず登録希望者自らが行い、かつ、登録希望者は、登録後を含め、自らに関する真実で正確な情報を弊社に提供しなければなりません。また、登録希望者は、登録申請にあたって、自身が反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）ではないこと、及び資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っているものではないことを誓約するものとします。</li>
    <li>
      弊社は、登録希望者（本項においては、登録希望者たる求人機関を代表して申請手続きを行う個人を含みます。）が、以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、またその理由について一切開示義務を負いません。
      <ol class="parentheses parent-around">
        <li>弊社に提供した登録事項の全部又は一部につき虚偽、誤記又は記載漏れがあった場合</li>
        <li>登録希望者が、求人機関でないにもかかわらず求人機関であると誤認されるおそれのある文字を用いた名称又は称号を使用している場合、不正の目的をもって他の求人機関であると誤認されるおそれのある名称又は商号を使用しているとみなされるおそれがある場合、又は求人機関としての実体が認められない場合</li>
        <li>第14条各号に該当しうる不適当な目的で本サービスを利用しようとする場合</li>
        <li>未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人、保佐人又は補助人の同意等を得ていなかった場合</li>
        <li>反社会的勢力等である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると弊社が判断した場合</li>
        <li>登録希望者が過去弊社との契約に違反した者又はその関係者であると弊社が判断した場合</li>
        <li>その他、弊社が登録を適当でないと判断した場合</li>
      </ol>
    </li>
  </ol>

  <h5>第5条（登録事項の変更）</h5>
  <ol>
    <li>求人機関は、登録事項に変更があった場合、弊社の定める方法により当該変更事項を遅滞なく弊社に通知しなければなりません。</li>
    <li>弊社が求人機関の登録した住所又はメールアドレス等に対して通知等を送付する場合、求人機関のもとに通常到達すべきであったときに到達したものとみなします。</li>
  </ol>

  <h5>第６条（パスワード及びIDの管理）</h5>
  <ol>
    <li>求人機関は、自己の責任において、本サービスに関するパスワード及びIDを適切に管理及び保管するものとし、これを第三者に利用させ、又は貸与、譲渡、名義変更、売買等をしてはなりません。</li>
    <li>パスワード又はIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は求人機関が負うものとし、弊社は責任を負いません。</li>
    <li>求人機関は、パスワード又はユーザーIDの盗難、紛失、漏えい等によってパスワード又はユーザーIDが第三者に使用されるおそれのある状態となった場合には、直ちに弊社にその旨を連絡するとともに、弊社の指示に従うものとします。</li>
  </ol>

  <h5>第７条（求人情報の掲載等）</h5>
  <ol>
    <li>
      求人機関は、求人情報の掲載に際しては、弊社の定める手続に従って、職業安定法5条の3第1項所定の、従事すべき業務の内容及び賃金、労働時間その他の労働条件を明示するとともに、次に掲げる事項を遵守するものとします。また、第13条各号に該当し、また該当するおそれのある求人情報を掲載してはならないものとします。
      <ol class="parentheses parent-around">
        <li>明示する従事すべき業務の内容等は、虚偽又は誇大な内容としないこと</li>
        <li>労働時間に関しては、始業及び終業の時刻、所定労働時間を超える労働、休憩時間、休日等について明示すること。</li>
        <li>賃金に関しては、賃金形態（月給、日給、時給等の区分）、基本給、定額的に支払われる手当、交通費（通勤手当）等、必要な事項について明示すること。</li>
        <li>従事すべき業務の内容等の事項の一部をやむを得ず別途明示することとするときは、その旨を併せて明示すること</li>
        <li>求職者に具体的に理解されるものとなるよう、従事すべき業務の内容等の水準、範囲等を可能な限り限定すること</li>
        <li>求職者が従事すべき業務の内容に関しては、職場環境を含め、可能な限り具体的かつ詳細に明示すること</li>
        <li>明示する従事すべき業務の内容等が雇用契約締結時の従事すべき業務の内容等と異なる可能性がある場合は、その旨を併せて明示するとともに、従事すべき業務の内容等が既に明示した内容と異なることとなった場合には、候補者に速やかに知らせること</li>
      </ol>
    </li>
    <li>求人機関は、雇用契約の締結に際しては、弊社の定める手続に従って、求職者に対して、労働基準法15条1項所定の、賃金、労働時間その他の労働条件を明示するものとします。</li>
    <li>求人機関は、雇用契約の締結に際し、前項に基づいて明示した労働条件を変更し、特定し、削除し、又は追加する場合には、弊社の定める手続に従って、これを明示するものとします。</li>
  </ol>

  <h5>第８条（求人情報の掲載及び利用者情報の取扱い）</h5>
  <ol>
    <li>
      求人機関は、求人情報の掲載に際しては、以下の各号に掲げる求人情報を掲載してはならず、また当該各号に該当しないことを表明し、保証するものとします。また弊社が別途掲載基準を定めた場合には、当該掲載基準に従って求人情報を掲載しなければならないものとします。求人機関が、以下の各号に掲げる求人情報又は別途弊社が定めた掲載基準に反した求人情報を掲載したと弊社において判断した場合、弊社は事前に通知することなく、当該求人機関の求人情報の公開停止若しくは削除又はアカウントの停止若しくは削除をすることがあります。
      <ol class="parentheses parent-around">
        <li>公衆衛生又は公衆道徳上有害な業務に就かせる目的の求人情報</li>
        <li>その内容が法令に違反する求人情報（最低賃金法等、強行法規に違反する場合には、法令違反を是正した内容で掲載されることがあり、事業者はあらかじめこれを承諾するものとします。）</li>
        <li>実際に従事すべき業務の内容等と相違する内容を含む求人情報</li>
        <li>その他、職業安定法5条の5第1項各号のいずれかに該当する求人情報</li>
      </ol>
    </li>
    <li>事業者は、本サービスに基づき取得した求職者の情報を、求職者との雇用契約及び本サービスに関する目的以外で利用せず、また、第三者に開示しないものとします。</li>
  </ol>

  <h5>第９条（本サービスを通じた契約の締結又は管理等）</h5>
  <ol>
    <li>求職者は、本サービス上で、弊社の定める手続に従って、求人機関に対して、雇用契約の締結の申込みをすることができます。</li>
    <li>前項の申込みを受けた事業者は、本サービス上で、弊社の定める手続に従って、求職者に対して、前項の申込みに対する承諾をすることができます。</li>
    <li>求人機関及び求職者は、弊社の定める手続きに従って、本サービス上で、労働条件の明示機能、業務の開始又は終了の確認機能、自動的に休憩時間の控除、手当等の付与が行われる計測機能を利用することに同意するものとし、求人機関は、これらの機能は雇用契約により予め合意された範囲において設定するものとします。なお、求人機関が所定の操作を行わないことその他の事由により、業務の開始又は終了の時刻等について確定しない場合又は客観的事実と齟齬が生じる場合、求職者の申告その他の事情に基づいて当該時刻等が定まる場合があり、これに基づいて求人機関に損害又は求職者との間にトラブル等が生じた場合であっても、弊社は責任を負いません。</li>
    <li>求人機関は、取扱職種の範囲等、手数料に関する事項、苦情の処理に関する事項、求人機関の情報及び求職者の個人情報の取扱いに関する事項が電子メール等の送信等の電磁的方法により行われることを希望し同意するものとします。</li>
    <li>求人機関は、求人機関の都合により、求人に応募しマッチングした求職者の労務を受領しなかった場合、弊社の定めるところにより、当該求職者に対し、一定の補償を行わなければならない場合があります。</li>
    <li>求人機関は、求人に応募しマッチングした求職者について本サービス上での雇用契約締結を行わず、又は過少な時間で終業の時刻等を記録させ、その他これに類する行為を行った上で、別途本サービス外で当該求職者と雇用契約を締結した場合や、求人情報その他弊社に申告している内容には含まれない賃金等を支払う場合には、直ちに弊社にその旨を報告するものとします。当該報告を行わなかった場合のほか、労働時間について過少な記録を行う等、不正の手段により第13条第1項に定める本サービス利用料の支払いを免れたと認められる場合には、違約金として当該不正等がなされたマッチング1件あたり金10万円を直ちに弊社に支払うものとします。</li>
    <li>求人機関は、求人に応募しマッチングした求職者と雇用契約が締結されなかった場合、応募時に閲覧可能であった当該求職者の情報が弊社の権限により削除されることがあることをあらかじめ承諾するものとします。</li>
  </ol>

  <h5>第１０条（賃金の支払等）</h5>
  <ol>
    <li>求人機関は、本サービスを通じて締結された雇用契約に基づく賃金（交通費を含みます。以下同じ。）を、毎月1日から末日までで計算し、翌月15日（休日に当たる場合は翌営業日）に、弊社が、求人機関からの立替払いの委託により、求職者の指定する金融機関口座に振り込む方法により支払うものとし（ただし、求職者が、当該支払日に先立って賃金の振込みを受けることを希望し、早期振込申請を行った場合には、当該支払日より前に支払います。）、求人機関は、弊社が事業者の賃金債務を併存的に引き受けた上で上記のとおり支払うことをあらかじめ承諾するものとします。なお、金融機関への振込手数料は、原則として支払者が負担することとします（次項において同じ）。</li>
    <li>第1項にかかわらず、求人機関は、求人情報に掲載していたものと異なる賃金を支払う場合には、その賃金の支払い及びこれに伴う一切の手続き（源泉所得税の計算、源泉徴収票の作成・交付等を含みます。）を、本サービス外において自らの責任で行うものとします。なお、これにより、予定されていた第12条第1項に定める本サービス利用料の支払いを免れるものではありません。</li>
  </ol>

  <h5>第１１条（源泉徴収票等の発行）</h5>
  <ol>
    <li>求人機関は、本サービスを通じて締結された雇用契約に基づく賃金について、弊社の定める手続きに従って、本サービス上で、支払明細書及び源泉徴収票（以下「源泉徴収票等」といいます。）の作成並びに本サービスに係るアプリケーション上で表示及び提供（以下「電子交付」といいます。）を行う機能を利用することに同意するものとし、求人情報に含まれない賃金等を支払った場合などその機能上対応できない源泉徴収票等の作成・提供等を行う場合には、本サービス外において自らの責任で行うものとします。</li>
    <li>求人機関は、あらかじめ求職者が行っている電子交付への承諾に関わらず、求職者が源泉徴収票等の書面での交付を請求した場合には、これに従って書面での交付を自己の責任において行う必要があることに同意するものとします。</li>
  </ol>

  <h5>第１２条（本サービス利用料等の支払方法等）</h5>
  <ol>
    <li>求人機関は、弊社が定めるところにより、本サービスの利用に伴い生じる利用料に消費税等を加えた金額（以下「本サービス利用料」といいます。）を、弊社が別途指定する方法により弊社に対して支払うものとします。</li>
    <li>求人機関は、弊社が定めるところにより、求人機関の委託に基づき弊社が立替払いを行う賃金及び第11条第2項の手数料を、賃金の確定日を基準に毎月1日から末日までで計算し、弊社が別途指定する方法により弊社に対して支払うものとします。</li>
    <li>求人機関は、弊社が定めた期限までに本サービス利用料の支払い、第10条第1項に基づく賃金の立替払い分に関する弊社からの求償への支払い又は同条第2項の手数料の支払い、その他弊社への支払いを怠った場合は、年6％の割合による遅延損害金を弊社に対して支払うものとします。</li>
  </ol>

  <h5>第１３条（禁止事項）</h5>
  <p>求人機関は、本サービスの利用にあたり、以下の各号のいずれかに該当すると弊社が判断する行為をしてはなりません。</p>
  <ol>
    <li>法令に違反する行為又は犯罪行為に関連する行為</li>
    <li>弊社、本サービスの他の利用者又はその他の第三者に対する詐欺又は脅迫行為</li>
    <li>自らの役職員その他の関係者（本サービスを通じて雇用契約を締結したことのある求職者を含みません。）を自らの求人に応募させること、その他求職者とのトラブル又は賃金の詐取等につながる行為</li>
    <li>公序良俗に反する行為</li>
    <li>弊社、本サービスの他の利用者又はその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利又は利益を侵害する行為</li>
    <li>
      本サービスを通じ、以下に該当すると弊社が判断する情報を弊社又は本サービスの他の利用者に送信すること
      <ol class="parentheses parent-around">
        <li>過度に暴力的又は残虐な表現を含む情報</li>
        <li>コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報</li>
        <li>弊社、本サービスの他の利用者又はその他の第三者の名誉又は信用を毀損する表現を含む情報</li>
        <li>差別を助長する表現を含む情報</li>
        <li>自殺、自傷行為を助長する表現を含む情報</li>
        <li>薬物の不適切な利用を助長する表現を含む情報</li>
        <li>反社会的な表現を含む情報</li>
        <li>チェーンメール等の第三者への情報の拡散を求める情報</li>
        <li>他人に不快感を与える表現を含む情報</li>
      </ol>
    </li>
    <li>労働時間及び休憩時間等について不正確な記録を行い、又はこれを促す行為</li>
    <li>本サービスのネットワーク又はシステム等に過度な負荷をかける行為</li>
    <li>本サービスの運営を妨害するおそれのある行為</li>
    <li>弊社のネットワーク又はシステム等に不正にアクセスし、又は不正なアクセスを試みる行為</li>
    <li>第三者に成りすます行為</li>
    <li>本サービスの他の利用者のID又はパスワードを利用する行為</li>
    <li>弊社が事前に許諾しない本サービス上での宣伝、広告、勧誘、又は営業行為</li>
    <li>本サービスの他の利用者の情報の収集</li>
    <li>本サービスが提供する機能を不正に設定、利用、操作等する行為</li>
    <li>弊社、本サービスの他の利用者又はその他の第三者に不利益、損害、不快感を与える行為</li>
    <li>反社会的勢力等への利益供与</li>
    <li>前各号の行為を直接又は間接に惹起し、又は容易にする行為</li>
    <li>その他、弊社が不適切と判断する行為</li>
  </ol>

  <h5>第１４条（本サービスの停止等）</h5>
  <ol>
    <li>
      弊社は、以下のいずれかに該当する場合には、求人機関に事前に通知することなく、本サービスの全部又は一部の提供を停止又は中断することができるものとします。
      <ol class="parentheses parent-around">
        <li>本サービスにかかるコンピューター・システムの点検又は保守作業を緊急に行う場合</li>
        <li>コンピューター、通信回線等が事故により停止した場合</li>
        <li>地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合</li>
        <li>その他、弊社が停止又は中断を必要と判断した場合</li>
      </ol>
    </li>
    <li>弊社は、前項に基づき弊社が行った措置に基づき求人機関に生じた損害について責任を負いません。</li>
  </ol>

  <h5>第１５条（権利帰属）</h5>
  <ol>
    <li>本サービスに関する知的財産権は全て弊社又は弊社にライセンスを許諾している第三者に帰属しており、本規約に基づく本サービスの利用許諾は、本サービスに関する弊社又は弊社にライセンスを許諾している第三者の知的財産権の使用許諾を意味するものではありません。</li>
    <li>求人機関は、投稿データについて、自らが投稿その他送信することについての適法な権利を有していること、及び投稿データが第三者の権利を侵害していないことについて、弊社に対し表明し、保証するものとします。</li>
    <li>求人機関は、投稿データのうち、求人情報や、社会通念に照らして取引価値を認めがたいもの（以下「特定投稿データ」といいます。）について、弊社に対し、本サービスの提供、改善又は宣伝広告に必要な範囲で、非独占的に使用又は複製、翻案、公衆送信その他利用する権利を許諾するものとします。</li>
    <li>求人機関は、弊社が前項の範囲で、特定投稿データを使用又は利用することについて、著作者人格権を行使しないことに同意するものとします。</li>
  </ol>

  <h5>第１６条（登録抹消等）</h5>
  <ol>
    <li>
      弊社は、求人機関が、以下の各号のいずれかの事由に該当する場合は、事前に通知又は催告することなく、投稿データを削除し若しくは当該求人機関について本サービスの利用を一時的に停止し、又は当該求人機関の登録を抹消することができます。
      <ol class="parentheses parent-around">
        <li>本規約のいずれかの条項に違反した場合</li>
        <li>登録事項に虚偽の事実があることが判明した場合</li>
        <li>支払停止若しくは支払不能となり、又は破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てがあった場合</li>
        <li>弊社からの返信を求める問合せに対して何らの返信がされない場合</li>
        <li>第4条第4項各号に該当する場合</li>
        <li>その他、弊社が本サービスの利用、登録の継続を適当でないと判断した場合</li>
      </ol>
    </li>
    <li>前項各号のいずれかの事由に該当した場合、求人機関は、弊社に対して負っている債務について当然に期限の利益を失い、直ちに弊社に対して全ての債務の支払を行わなければなりません。</li>
    <li>弊社は、本条に基づき弊社が行った行為により求人機関に生じた損害について責任を負いません。</li>
  </ol>

  <h5>第１７条（退会）</h5>
  <ol>
    <li>求人機関は、弊社所定の方法で弊社に通知することにより、本サービスから退会し、自己の登録を抹消することができます。</li>
    <li>退会にあたり、弊社に対して負っている債務が有る場合は、求人機関は、弊社に対して負っている債務の一切について当然に期限の利益を失い、直ちに弊社に対して全ての債務の支払を行わなければなりません。</li>
    <li>退会後の利用者情報の取扱いについては、第21条の規定に従うものとします。</li>
  </ol>

  <h5>第１８条（本サービスの内容の変更、終了）</h5>
  <ol>
    <li>弊社は、弊社の都合により、本サービスの内容を変更し、又は提供を終了することができます。弊社が本サービスの提供を終了する場合、弊社は求人機関に事前に通知するものとします。</li>
    <li>弊社は、本条に基づき弊社が行った措置に基づき求人機関に生じた損害について責任を負いません。</li>
  </ol>

  <h5>第１９条（保証の否認及び免責）</h5>
  <ol>
    <li>弊社は、求人機関の求人に応じて必ず求職者と雇用契約が成立すること、本サービスが事求人機関の特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、求人機関による本サービスの利用が求人機関に適用のある法令又は業界団体の内部規則等に適合すること、及び不具合が生じないことについて、何ら保証するものではありません。</li>
    <li>弊社は、弊社による本サービスの提供の中断、停止、終了、利用不能又は変更、事業者が投稿したデータの削除又は消失、求人機関の登録の抹消、本サービスの利用による登録データの消失又は機器の故障若しくは損傷、その他本サービスに関して求人機関が被った損害につき、賠償する責任を負わないものとします。ただし、弊社の故意又は重過失によって損害が生じた場合には、直接かつ現実に生じた損害について、当該損害が生じた月における本サービス利用料の額を上限として、これを賠償するものとします。</li>
    <li>本サービスに関連して求人機関と他の求人機関又は第三者との間において生じた取引、連絡、紛争等（求職者による犯罪行為、求職者の行為によって別の第三者と生じたトラブルその他のトラブル等を含みますが、これに限りません。）については、弊社は責任を負いません。求人機関は、弊社がこれに対応することによって弊社に生じた損害・損失等について、合理的な範囲で賠償又は補償するものとします。</li>
  </ol>

  <h5>第２０条（秘密保持）</h5>
  <p>求人機関は、本サービスに関連して弊社が求人機関に対して秘密に取り扱うことを求めて開示した非公知の情報について、弊社の事前の書面による承諾がある場合を除き、秘密に取り扱うものとします。</p>

  <h5>第２１条（利用者情報の取扱い）</h5>
  <ol>
    <li>弊社による個人情報（個人情報の保護に関する法律第2条第1項が定義する「個人情報」と同義）の取扱いについては、別途、プライバシーポリシーの定めによるものとし、求人機関はこのプライバシーポリシーに従って弊社が求人機関の利用者情報を取り扱うことについて同意するものとします。</li>
    <li>求人機関は、求人機関が登録した担当者の氏名、電話番号等の個人情報が、至急連絡を取る必要がある場合等、必要に応じて、求職者に開示されることがあることについて同意するものとします。</li>
    <li>求人機関は、投稿データのうち他の求人機関に公開されない求職者に宛てたメッセージ等について、トラブルの防止・解決、不正利用の防止、安全性の確保その他本サービスの運営上必要な場合に弊社が閲覧することに同意するものとします。</li>
    <li>弊社は、求人機関が弊社に提供した情報、データ等を、求人機関を特定できない形での統計的な情報として、弊社の裁量で、利用及び公開することができるものとし、求人機関はこれに異議を唱えないものとします。</li>
  </ol>

  <h5>第２２条（本規約の変更等）</h5>
  <ol>
    <li>弊社は、弊社の判断により、本規約を変更できるものとします。本規約を変更する場合には、本サービス上にて変更後の本規約を掲載するものとし、これをもって当該変更の効力を生じます。</li>
    <li>前項にかかわらず、本規約の変更が、その内容に鑑みて求人機関に重大な影響を与える場合には、求人機関に当該変更内容を通知するものとし、当該変更内容の通知後、求人機関が本サービスを利用した場合又は弊社の定める期間内に登録抹消の手続をとらなかった場合には、求人機関は、本規約の変更に同意したものとみなします。</li>
  </ol>

  <h5>第２３条（連絡又は通知）</h5>
  <p>本サービスに関する問い合わせその他求人機関から弊社に対する連絡又は通知、及び本規約の変更に関する通知その他弊社から求人機関に対する連絡又は通知は、弊社の定める方法で行うものとします。</p>

  <h5>第２４条（地位の譲渡等）</h5>
  <ol>
    <li>求人機関は、弊社の書面による事前の承諾なく、弊社との契約上の地位又は本規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</li>
    <li>弊社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い弊社との契約上の地位、本規約に基づく権利及び義務並びに求人機関の登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、求人機関は、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、合併、会社分割その他事業が移転するあらゆる場合を含むものとします。</li>
  </ol>

  <h5>第２５条（分離可能性）</h5>
  <p>本規約のいずれかの条項又はその一部が、法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>

  <h5>第２６条（準拠法及び管轄裁判所）</h5>
  <ol>
    <li>本規約及び本サービスの利用に関する準拠法は日本法とします。</li>
    <li>本規約又は本サービスの利用に起因し、又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
  </ol>
</div>