<div>管理者を新規登録しました。</div>
<br>
<div>ユーザ名：<%= @manage.full_name %></div>
<div>メールアドレス：<%= @manage.user_email %></div>
<div>パスワード：<%= @password %></div>
<br>
<div>ログイン画面はこちら：<%= link_to "ログイン画面", new_admin_user_session_url %></div>
