<div>以下のお問い合わせがありました。</div>
<div>ご確認のうえ、返信をお願いします。</div>
<br>
<div>--------------------------------------</div>
<div>■お問合せ内容</div>
<div>--------------------------------------</div>
<div>お名前：[お問合せで入力したお名前]</div>
<div>メールアドレス：[お問合せで入力したメールアドレス]</div>
<div>件名：[お問合せで入力した件名]</div>
<div>お問合せ内容：[お問合せで入力したお問合せ内容]</div>
