<div>アカウントの新規登録を受け付けました。</div>
<br>
<div>求人機関名：<%= @medical.name %></div>
<div>担当者：<%= @medical.full_name_manager %></div>
<div>メールアドレス：<%= @medical.user_email %></div>
<br>
<div>登録審査はこちら：<%= link_to "応募求人機関一覧", admin_medical_institution_applying_index_url %></div>
