.index .meta .font14 {
  font-size: 14px;
}

.taxWithholding {
  .modal-dialog {
    max-width: 450px;
  }

  .modal-body {
    padding: 2.5rem;
  }

  .btn-modal {
    width: 47%;
    padding: 12px;
  }

  label {
    font-weight: unset;
  }
}

.fontWB {
  font-weight: bold;
}
