<div class="line_row mt-3"></div>
<div class="text-center mt-3">
  <%= link_to new_user_registration_path, class: "btn btn-custom text-light font-weight-bold" do %>
    アカウントをお持ちでない方はこちらへ<br>
    （新規登録）
  <% end %>
</div>
