<div class="wrap">
  <div class="footer__photo">
    <%= image_tag "employee/footer/worker-all.png" %>
  </div>
  <div class="footer__bg">
  </div>
  <div class="text pt-2 pb-2">
    copyright ©️ 2022 Careerwin,Inc All Rights Reserved
  </div>
</div>
