<footer class="footer" id="footer">
  <div class="footer__photo">
    <%= image_tag "employee/footer/worker-all.png" %>
  </div>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__copyright">copyright ©️ 2022 Careerwin,Inc All Rights Reserved</div>
    </div>
  </div>
</footer>
