.infor-attendance {
  .title {
    text-align: center;
    background-color: #1195FF;
    color: #ffffff;
    padding: 5px 0 5px 0;
  }

  .infor {
    text-align: center;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
  }
}

.btn-submit-modal, .btn-hide-modal {
  width: 180px;
}

#reject_note {
  width: 100%;
}

.accept-reject-dropdown {
  width: 10px;
}
