#medical-page {
  #complete {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    button {
      width: 216px;
      height: 36px;
      background: #00479D;
      border-radius: 12px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 1);
      border: none;
    }

    .notice {
      color: #000000;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      padding: 10px;
      margin-bottom: 6px;
    }

    .send-mail {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      padding: 10px;
      margin-bottom: 25px;
    }
  }

  .complete-container {
    margin-top: 300px;
  }
}
