#medical-page {
  .login-form {
    width: 390px;
    margin: 100px auto;
  }

  .reset-password-form {
    width: 400px;
    margin: 250px auto;
  }

  .reset-password-success {
    width: 525px;
    margin: 250px auto;
  }
}
